.cycletime-card {
    background-color: #ffffff;
    display: flex;
    align-items: left;
    justify-content: left;
  
  }
  .cycletime-cardhead {
    background-color:   #ffffff;
    display: contents;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  .cycletime-background {
    background-color: #ffffff;
    min-height: 100vh;
    display: contents;
    font-size: calc(10px + 2vmin);
  }
  .cycletime-title {
    background-color:#ffffff;
    display: contents;
    font-size: calc(10px + 2vmin);
  }

  .cycletime-date {
    background-color: #ffffff;
    display: contents;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  .cycletime-table {
    background-color: #ffffff;
    color: black;
  }